html {
    height: 100%;
}

body {
    padding: 120px 0px 0px 0px;
    z-index: 0;
    min-height: 100%;
    background-color: blue;
}

.navbar-color {
    background-color: rgb(230, 114, 98);

}

.btn {
    background-color: #e04949;
}

.btn-primary {
    border-color: red;
}

.navbar-search {
    padding: 10px;
    background-color: brown;
    width: 50%;
}

.btn-notification {
    background-color: rgba(255, 0, 0, 0.5);
}

.container-content {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.nav-item {
    margin: 20px;
}

.navbar-left {
    background-color: rgb(230, 114, 98);
}
img {
    width: 100%;
}
.write-post-container {
    color: #292424;
    background-color: var(--bg-color);
    width: 100%;
    padding: 20px;
    border-radius: 6px;
}
.user-profile img {
    width: 45px;
    border-radius: 30%;
    margin-right: 10px;

}