USE [master]
GO
/****** Object:  Database [DOCA_Platform]    Script Date: 9/18/2023 10:35:48 AM ******/
CREATE DATABASE [DOCA_Platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOCA_Platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DOCA_Platform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOCA_Platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DOCA_Platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOCA_Platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOCA_Platform]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[cID] [nchar](10) NOT NULL,
	[cDes] [varchar](100) NOT NULL,
	[fpID] [nchar](10) NOT NULL,
	[uID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[cID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPost]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPost](
	[fpID] [nchar](10) NOT NULL,
	[fpDes] [varchar](3000) NOT NULL,
	[tagID] [nchar](10) NOT NULL,
	[like] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[uID] [nchar](10) NULL,
 CONSTRAINT [PK_fpost] PRIMARY KEY CLUSTERED 
(
	[fpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hashtag]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hashtag](
	[tagID] [nchar](10) NOT NULL,
	[tagName] [nchar](300) NOT NULL,
	[tagrole] [nchar](10) NOT NULL,
 CONSTRAINT [PK_hashtag] PRIMARY KEY CLUSTERED 
(
	[tagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img](
	[imgID] [nchar](10) NOT NULL,
	[fpID] [nchar](10) NULL,
	[uID] [nchar](10) NULL,
	[mpID] [nchar](10) NULL,
	[spID] [nchar](10) NULL,
	[img_url] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Img] PRIMARY KEY CLUSTERED 
(
	[imgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketPost]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketPost](
	[mpID] [nchar](10) NOT NULL,
	[mpTitle] [nchar](100) NOT NULL,
	[mpDes] [varchar](max) NOT NULL,
	[mpCost] [float] NOT NULL,
	[mpaddress] [varchar](3000) NOT NULL,
	[mpPhone] [nchar](10) NOT NULL,
	[uID] [nchar](10) NOT NULL,
	[tagID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MarketPost] PRIMARY KEY CLUSTERED 
(
	[mpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[rID] [nchar](10) NOT NULL,
	[uID] [nchar](10) NOT NULL,
	[fpID] [nchar](10) NOT NULL,
	[rDes] [nchar](10) NOT NULL,
 CONSTRAINT [PK_report] PRIMARY KEY CLUSTERED 
(
	[rID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePost]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePost](
	[spID] [nchar](10) NOT NULL,
	[spTitle] [nchar](100) NOT NULL,
	[spDes] [varchar](max) NOT NULL,
	[spAddress] [varchar](3000) NOT NULL,
	[spPhone] [nchar](10) NOT NULL,
	[uID] [nchar](10) NOT NULL,
	[tagID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ServicePost] PRIMARY KEY CLUSTERED 
(
	[spID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/18/2023 10:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[uID] [nchar](10) NOT NULL,
	[uName] [nchar](30) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[fullName] [nchar](30) NOT NULL,
	[role] [nchar](2) NOT NULL,
	[email] [nchar](30) NOT NULL,
	[gender] [nchar](10) NOT NULL,
	[address] [nchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_ForumPost] FOREIGN KEY([fpID])
REFERENCES [dbo].[ForumPost] ([fpID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_ForumPost]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[ForumPost]  WITH CHECK ADD  CONSTRAINT [FK_ForumPost_hashtag] FOREIGN KEY([tagID])
REFERENCES [dbo].[hashtag] ([tagID])
GO
ALTER TABLE [dbo].[ForumPost] CHECK CONSTRAINT [FK_ForumPost_hashtag]
GO
ALTER TABLE [dbo].[ForumPost]  WITH CHECK ADD  CONSTRAINT [FK_ForumPost_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[ForumPost] CHECK CONSTRAINT [FK_ForumPost_User]
GO
ALTER TABLE [dbo].[Img]  WITH CHECK ADD  CONSTRAINT [FK_Img_ForumPost] FOREIGN KEY([fpID])
REFERENCES [dbo].[ForumPost] ([fpID])
GO
ALTER TABLE [dbo].[Img] CHECK CONSTRAINT [FK_Img_ForumPost]
GO
ALTER TABLE [dbo].[Img]  WITH CHECK ADD  CONSTRAINT [FK_Img_MarketPost] FOREIGN KEY([mpID])
REFERENCES [dbo].[MarketPost] ([mpID])
GO
ALTER TABLE [dbo].[Img] CHECK CONSTRAINT [FK_Img_MarketPost]
GO
ALTER TABLE [dbo].[Img]  WITH CHECK ADD  CONSTRAINT [FK_Img_ServicePost] FOREIGN KEY([spID])
REFERENCES [dbo].[ServicePost] ([spID])
GO
ALTER TABLE [dbo].[Img] CHECK CONSTRAINT [FK_Img_ServicePost]
GO
ALTER TABLE [dbo].[MarketPost]  WITH CHECK ADD  CONSTRAINT [FK_MarketPost_hashtag] FOREIGN KEY([tagID])
REFERENCES [dbo].[hashtag] ([tagID])
GO
ALTER TABLE [dbo].[MarketPost] CHECK CONSTRAINT [FK_MarketPost_hashtag]
GO
ALTER TABLE [dbo].[MarketPost]  WITH CHECK ADD  CONSTRAINT [FK_MarketPost_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[MarketPost] CHECK CONSTRAINT [FK_MarketPost_User]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_ForumPost] FOREIGN KEY([fpID])
REFERENCES [dbo].[ForumPost] ([fpID])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_ForumPost]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_User]
GO
ALTER TABLE [dbo].[ServicePost]  WITH CHECK ADD  CONSTRAINT [FK_ServicePost_hashtag] FOREIGN KEY([tagID])
REFERENCES [dbo].[hashtag] ([tagID])
GO
ALTER TABLE [dbo].[ServicePost] CHECK CONSTRAINT [FK_ServicePost_hashtag]
GO
ALTER TABLE [dbo].[ServicePost]  WITH CHECK ADD  CONSTRAINT [FK_ServicePost_User1] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[ServicePost] CHECK CONSTRAINT [FK_ServicePost_User1]
GO
USE [master]
GO
